<footer class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 hidden-xs">
      <img src="/images/logo_bottom.png" alt="cloudwiz_logo" width="260px" height="260px">
    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row links">
        <div class="link-group">
          <div class="link-header">产品功能</div>
          <a href="/product_benefits.html">产品</a>
          <a href="/document">文档</a>
          <a href="/blog">博客</a>
        </div>
        <div class="link-group">
          <div class="link-header">文档资源</div>
          <a href="/about.html" target="_blank">关于我们</a>
          <a href="/join.html" target="_blank">招贤纳士</a>
          <a href="/blog" target="_blank">博客</a>
        </div>
        <div class="link-group">
          <div class="link-header">联系我们</div>
          <a href="mailto:service@cloudwiz.cn">邮箱：service@cloudwiz.cn</a>
          <a href="//f.amap.com/64cXQ_0942kf5">地址：腾讯众创空间 - 回龙观东大街回龙观创客广场 A 座 331 室</a>
        </div>
      </div>
    </div>
  </div>
  <p class="copyright hidden-xs">
    copyright &copy; 2017 云兴维智（北京）科技有限公司 | 京ICP备17008193号
  </p>
</footer>